

        <html>
            <head>
                <style>
                    body {
                        background-color: #c6b5ff
                    }
                    .images {
                        display: flex;
                        padding: 1em;
                    }
                    img {
                        align-self: flex-start;
                        max-height: 22vw;
                        max-width: 29%;
                        padding: 1em;
                    }
                </style>
            </head>
            <body>
                flail Herriot Jacobian 
                <div class="images">
                    <img style="height: 12em" src="https://tse2.mm.bing.net/th?id=OIP.0RS12EemTP-KIOsIxGgtSgHaHa&pid=Api"> 
                    <img src="https://tse4.mm.bing.net/th?id=OIP.GY30lTiztCP7TZDuUqhKfgHaJG&pid=Api">
                    <img src="https://tse3.mm.bing.net/th?id=OIP.uJ_vZQSRdo_mF3UKtncktwHaEK&pid=Api">
                </div>
            </body>
        </html>
    
