        <html>
            <head>
                <style>
                    body {
                        background-color: #adccff
                    }
                    .images {
                        display: flex;
                        padding: 1em;
                    }
                    img {
                        align-self: flex-start;
                        max-height: 22vw;
                        max-width: 29%;
                        padding: 1em;
                    }
                </style>
            </head>
            <body>
                cocaine Gogol Menippe 
                <div class="images">
                    <img src="https://tse3.mm.bing.net/th?id=OIP.5LCJX2bDVKiV5Hro7CwmnAHaEK&pid=Api"> 
                    <img src="https://tse4.mm.bing.net/th?id=OIP.UVfPaCSL_lF0wFnwbYAWDwAAAA&pid=Api">
                    <img src="https://tse3.explicit.bing.net/th?id=OIP.DKOFoHzCVThUjwiiVQIqPQHaE8&pid=Api">
                </div>
            </body>
        </html>

