        <html>
            <head>
                <style>
                    body {
                        background-color: #ffe4cc
                    }
                    .images {
                        display: flex;
                        padding: 1em;
                    }
                    img {
                        align-self: flex-start;
                        max-height: 22vw;
                        max-width: 29%;
                        padding: 1em;
                    }
                </style>
            </head>
            <body>
                borer burnoose thingstead 
                <div class="images">
                    <img src="https://tse1.mm.bing.net/th?id=OIP.yjE9abhlRZ0JndUvV73PMAHaFj&pid=Api"> 
                    <img src="https://tse4.mm.bing.net/th?id=OIP.rE7dBeiA8cOaFjg7O9cf7wHaMt&pid=Api">
                    <img src="https://tse4.mm.bing.net/th?id=OIP.3JRrSGJ4QNgWdh1Ea99hnwHaEK&pid=Api">
                </div>
            </body>
        </html>

